@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth; }

.allContent {
  display: none; }

body {
  overflow: hidden; }
  body::-webkit-scrollbar {
    display: none; }

.overflowClass {
  overflow: auto; }

#gradient-background {
  width: 100%;
  height: 300px;
  position: fixed;
  top: -50px;
  z-index: 8; }

#gradient-background.sticky-gradient {
  height: 100px; }

.header-container .header {
  width: 100%;
  height: 210px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 20;
  margin-top: 40px; }
  .header-container .header h1 {
    color: white;
    font-size: 5rem; }
  .header-container .header__mode2 {
    display: none; }
  .header-container .header__nav ul {
    display: flex;
    margin-top: 70px; }
  .header-container .header__link {
    list-style: none;
    padding: 0 25px 12px 25px;
    font-size: 1.1rem; }
  .header-container .header a {
    color: white;
    text-decoration: none;
    transition: 0.4s all; }
  .header-container .header a:hover {
    color: black; }
  .header-container .header i {
    cursor: pointer;
    font-size: 1.5rem; }
  .header-container .header #darkButton {
    color: white;
    transition: 0.4s all; }
    .header-container .header #darkButton:hover {
      color: black; }
  .header-container .header #btnMenu {
    transition: 0.4s all; }
  .header-container .header #lightButton {
    display: none;
    transition: 0.4s all; }
    .header-container .header #lightButton:hover {
      color: white !important; }
  .header-container .header__buttons {
    position: absolute;
    right: 0;
    display: flex; }
    .header-container .header__buttons i {
      margin-right: 12px; }
    .header-container .header__buttons .media-settings {
      display: flex;
      flex-direction: column; }
    .header-container .header__buttons .fa-linkedin,
    .header-container .header__buttons .fa-github {
      color: white;
      transition: .4s all; }
    .header-container .header__buttons .fa-linkedin:hover {
      color: black; }
    .header-container .header__buttons .fa-github:hover {
      color: black; }
  .header-container .header__mode {
    position: absolute;
    left: 0;
    display: flex; }
    .header-container .header__mode i {
      margin-left: 12px; }

.header.sticky-header {
  height: 9px;
  z-index: 15; }
  .header.sticky-header h1 {
    font-size: 0; }

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 250px; }
  .content h2 {
    font-size: 2rem;
    margin-top: 40px; }
  .content h3 {
    font-size: 1.2rem;
    padding: 25px 0 10px 0; }
  .content hr {
    height: 3px;
    background-color: black; }
  .content__introduction {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__introduction__text {
      font-size: 1.1rem; }
  .content__install {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__install p {
      margin-top: 10px; }
  .content__basics {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
  .content__selectors {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
  .content__methods {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__methods .dimensions__desc {
      margin-bottom: 10px; }
    .content__methods .dimensions__example {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      padding: 20px; }
      .content__methods .dimensions__example button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__methods .dimensions__box {
      width: 170px;
      border: 4px solid black;
      margin: 5px;
      padding: 8px;
      height: 80px;
      background-color: red; }
  .content__events {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__events__display, .content__events__display2 {
      padding: 10px; }
      .content__events__display p, .content__events__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__events__box {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      padding: 20px;
      flex-direction: column; }
      .content__events__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__box2 {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      padding: 20px;
      flex-direction: column; }
      .content__events__box2 input {
        padding: 10px;
        width: 70%;
        margin: 10px; }
      .content__events__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__buttons {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .content__events__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__effects {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__effects a {
      color: black; }
    .content__effects__display, .content__effects__display2 {
      padding: 10px; }
      .content__effects__display p, .content__effects__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__effects__box {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      padding: 20px;
      flex-direction: column; }
      .content__effects__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__box2 {
      height: 300px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-color: rgba(128, 128, 128, 0.214); }
      .content__effects__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__buttons {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .content__effects__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__ajax {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__ajax img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .content__ajax h3 {
      font-size: 1.4rem; }
    .content__ajax__desc {
      margin-top: 20px; }
  .content__exercises {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px; }
    .content__exercises__arrow {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .content__exercises__arrow .arrowContainer {
        width: 90%;
        font-size: 20px;
        height: 150px;
        text-align: center; }
        .content__exercises__arrow .arrowContainer div {
          display: none;
          background-color: rgba(128, 128, 128, 0.214);
          height: 100%; }
          .content__exercises__arrow .arrowContainer div p {
            padding-top: 75px;
            font-size: 1.1rem; }
      .content__exercises__arrow .arrowDownUp {
        padding: 20px; }
        .content__exercises__arrow .arrowDownUp .arrowDown {
          width: 80px; }
        .content__exercises__arrow .arrowDownUp .arrowUp {
          width: 80px;
          display: none; }
    .content__exercises__used {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      padding: 20px;
      text-align: center; }
    .content__exercises__buttons {
      display: flex;
      justify-content: center; }
      .content__exercises__buttons button {
        width: 30%;
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__exercises #form {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 300px; }
      .content__exercises #form form input {
        padding: 8px; }
      .content__exercises #form form p {
        margin: 5px; }
      .content__exercises #form form span {
        margin: 5px; }
    .content__exercises__onOff #onOffCaja {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 300px; }
      .content__exercises__onOff #onOffCaja div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__exercises__hover-game {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 200px;
      flex-direction: column; }
      .content__exercises__hover-game .hover-container {
        display: flex; }
        .content__exercises__hover-game .hover-container .hover-div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: black;
          margin: 10px; }
      .content__exercises__hover-game .hover-results {
        padding-top: 30px; }
    .content__exercises__images {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 400px;
      flex-direction: column; }
      .content__exercises__images .main-images img {
        width: 350px;
        height: 95%;
        object-fit: cover; }
      .content__exercises__images .other-images img {
        margin-top: 15px;
        width: 80px;
        height: 80%;
        display: inline-block; }
  .content__plugins {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 30px; }
    .content__plugins__desc {
      margin-top: 20px; }
    .content__plugins .swiper {
      width: 100%;
      height: 500px;
      position: relative;
      z-index: 2; }
    .content__plugins .swiper-button-next, .content__plugins .swiper-button-prev {
      color: white; }
    .content__plugins .swiper-scrollbar-drag {
      background-color: white; }
    .content__plugins .swiper-scrollbar {
      background-color: rgba(255, 255, 255, 0.668); }
    .content__plugins .dateRange-container {
      width: 100%;
      height: 200px;
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .content__plugins .dateRange-container .dateRange {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center; }
      .content__plugins .dateRange-container input {
        padding: 10px;
        width: 60%; }
    .content__plugins .fancybox-container {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 250px; }
      .content__plugins .fancybox-container a {
        text-align: center; }
      .content__plugins .fancybox-container img {
        width: 45%; }
  .content__finalmessage {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
    margin-top: 30px; }
    .content__finalmessage img {
      width: 100%; }
    .content__finalmessage p:nth-child(1) {
      padding-top: 20px; }
    .content__finalmessage__github .fa-github {
      font-size: 2rem;
      padding: 15px;
      color: black;
      transition: 0.5s all; }
    .content__finalmessage__github .fa-github:hover {
      transform: scale(1.3); }

.content.content-padding {
  padding-top: 150px; }

.footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, #fb1212, #ff005b, #ee009c, #b22ed5, #125df9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center; }
  .footer h3 {
    font-size: 3rem; }
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer ul li {
      list-style: none;
      padding: 10px; }
  .footer a {
    color: white;
    transition: 0.4s all; }
  .footer a:hover {
    color: black; }
  .footer__media span {
    font-size: 1.6rem;
    margin: 3px; }
  .footer__copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.778); }

.redText {
  color: #f61a1a; }

.blueText {
  color: #0985d2; }

.greenText {
  color: #05b305; }

.yellowText {
  color: #f0a503; }

.greyText {
  color: rgba(128, 128, 128, 0.668); }

.redCalloutText {
  color: rgba(246, 26, 26, 0.645); }

.blueCalloutText {
  color: rgba(6, 112, 179, 0.67); }

.greenCalloutText {
  color: rgba(4, 132, 4, 0.503); }

.lightGreenCalloutText {
  color: rgba(18, 231, 43, 0.986); }

.displayNone {
  display: none; }

#btnMenu {
  display: none; }

.pl30 {
  padding-left: 30px; }

.pl60 {
  padding-left: 60px; }

.selected-button {
  border: green solid 3px !important;
  background-color: greenyellow; }

.unselected-button {
  border: red solid 3px !important;
  background-color: #f17777; }

.selected-img {
  border: 3px solid red; }

.codeBlack {
  color: black !important; }

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  position: relative; }
  #preloader h2 {
    font-size: 4rem; }
  #preloader img {
    width: 300px; }

.swal2-html-container {
  text-align: left !important; }

.menu {
  width: 45vw;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 6px white solid;
  display: none;
  right: -550px; }

.menu-border-white {
  border-left: 6px white solid; }

.menu-border-black {
  border-left: 6px black solid; }

.callout {
  background-color: rgba(128, 128, 128, 0.214);
  display: flex;
  padding: 20px;
  margin: 15px 0 15px 0; }
  .callout__icon {
    width: 20px; }
  .callout__text {
    padding-left: 10px; }

.list h4 {
  font-size: 1.3rem;
  padding-top: 25px; }

.list ul {
  padding: 10px 0 10px 20px; }
  .list ul li {
    padding-top: 5px; }

.example {
  padding: 30px; }
  .example h4 {
    padding: 5px; }
  .example__content {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.214); }

.fa-fire-flame-curved {
  color: orange;
  text-shadow: 1px 0px 1px black;
  font-size: 1.2rem; }

@media (max-width: 1024px) {
  .content {
    padding-top: 150px; }
    .content .main-images img {
      width: 250px; }
    .content__exercises__hover-game .hover-container .hover-div {
      margin: 5;
      width: 35px;
      height: 35px; }
  .example {
    padding: 10px; }
  .menu {
    display: inline-block;
    z-index: 15;
    color: white; }
    .menu h3 {
      font-size: 2rem; }
    .menu hr {
      height: 4px;
      border: 0;
      background-color: white; }
    .menu__close {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4); }
      .menu__close i {
        font-size: 2rem;
        transition: .4s all;
        cursor: pointer; }
        .menu__close i:hover {
          color: black; }
    .menu ul {
      padding: 20px; }
      .menu ul li {
        list-style: none;
        font-size: 1.2rem;
        padding: 10px;
        transition: 0.4s all; }
        .menu ul li:hover {
          padding-left: 30px; }
      .menu ul a {
        color: white;
        text-decoration: none; }
    .menu__footer {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .menu__footer p {
        padding-right: 10px; }
    .menu__footer-text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.4); }
    .menu__buttons {
      display: flex; }
      .menu__buttons a {
        color: white;
        font-size: 1.6rem;
        padding: 7px; }
        .menu__buttons a:hover {
          color: black; }
        .menu__buttons a .fa-linkedin,
        .menu__buttons a .fa-github {
          color: white;
          transition: .4s all; }
          .menu__buttons a .fa-linkedin:hover,
          .menu__buttons a .fa-github:hover {
            transform: scale(1.2); }
  .header-container #gradient-background {
    height: 250px; }
  .header-container #gradient-background.sticky-gradient {
    height: 120px; }
  .header-container .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: -50px;
    z-index: 10; }
    .header-container .header__menu {
      display: flex; }
    .header-container .header__mode2 {
      display: inline-block; }
      .header-container .header__mode2 #darkButton2 {
        color: white;
        transition: 0.4s all; }
        .header-container .header__mode2 #darkButton2:hover {
          color: black; }
      .header-container .header__mode2 #lightButton2 {
        display: none;
        transition: 0.4s all; }
        .header-container .header__mode2 #lightButton2:hover {
          color: white !important; }
    .header-container .header__nav {
      display: flex;
      flex-direction: row-reverse; }
      .header-container .header__nav ul {
        display: none; }
    .header-container .header h1 {
      font-size: 2rem; }
    .header-container .header i {
      font-size: 2rem; }
    .header-container .header__mode {
      display: none; }
    .header-container .header__buttons {
      display: none; }
    .header-container .header #btnMenu {
      display: inline-block; }
    .header-container .header .fa-bars {
      color: white;
      margin-left: 10px;
      transition: .4s all; }
      .header-container .header .fa-bars:hover {
        color: black; }
  .header-container .header.sticky-header {
    height: 90px; } }

@media (max-width: 850px) {
  .content__introduction, .content__install, .content__basics, .content__selectors, .content__methods, .content__events, .content__effects, .content__ajax, .content__exercises, .content__plugins, .content__finalmessage {
    width: 90%; }
  .footer {
    height: 250px; }
    .footer ul li {
      padding: 6px; }
    .footer h3 {
      font-size: 2.5rem; }
    .footer__copy {
      margin-top: 10px; } }

@media (max-width: 768px) {
  .menu {
    width: 70vw; } }

@media (max-width: 425px) {
  .menu {
    width: 100vw;
    border-left: 0; }
  .menu-border-black {
    border-left: 0; }
  .menu-border-white {
    border-left: 0; } }
