@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth; }

#gradient-background {
  width: 100%;
  height: 40vh; }

.header {
  width: 100%;
  height: 40vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column; }
  .header h1 {
    color: white;
    font-size: 5rem; }
  .header__nav ul {
    display: flex;
    margin-top: 90px; }
  .header__link {
    list-style: none;
    padding: 0 25px 12px 25px;
    font-size: 1.1rem; }
  .header a {
    color: white;
    text-decoration: none; }

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; }
  .content h2 {
    font-size: 2rem;
    margin-top: 40px; }
  .content h3 {
    font-size: 1.2rem;
    padding: 25px 0 10px 0; }
  .content hr {
    height: 3px;
    background-color: black; }
  .content__introduction {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__introduction__text {
      font-size: 1.1rem; }
  .content__install {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__install p {
      margin-top: 10px; }
  .content__basics {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .content__selectors {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .content__methods {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__methods .dimensions__desc {
      margin-bottom: 10px; }
    .content__methods .dimensions__example {
      background-color: rgba(128, 128, 128, 0.214);
      height: 200px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .content__methods .dimensions__example button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__methods .dimensions__box {
      width: 170px;
      border: 4px solid black;
      margin: 5px;
      padding: 8px;
      height: 80px;
      background-color: red; }
  .content__events {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__events__display, .content__events__display2 {
      padding: 10px; }
      .content__events__display p, .content__events__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__events__box {
      background-color: rgba(128, 128, 128, 0.214);
      height: 300px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .content__events__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__box2 {
      background-color: rgba(128, 128, 128, 0.214);
      height: 200px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .content__events__box2 input {
        padding: 10px;
        width: 70%;
        margin: 10px; }
      .content__events__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__buttons {
      padding: 20px;
      display: flex;
      justify-content: center; }
      .content__events__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__effects {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__effects a {
      color: black; }
    .content__effects__display, .content__effects__display2 {
      padding: 10px; }
      .content__effects__display p, .content__effects__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__effects__box {
      background-color: rgba(128, 128, 128, 0.214);
      height: 300px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .content__effects__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__box2 {
      background-color: rgba(128, 128, 128, 0.214);
      height: 300px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column; }
      .content__effects__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__buttons {
      padding: 20px;
      display: flex;
      justify-content: center; }
      .content__effects__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__ajax {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__ajax img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .content__ajax h3 {
      font-size: 1.4rem; }
    .content__ajax__desc {
      margin-top: 20px; }
  .content__ejercicios {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__ejercicios__arrow {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .content__ejercicios__arrow .arrowContainer {
        width: 90%;
        font-size: 20px;
        height: 150px;
        text-align: center; }
        .content__ejercicios__arrow .arrowContainer div {
          display: none;
          background-color: rgba(128, 128, 128, 0.214);
          height: 100%; }
          .content__ejercicios__arrow .arrowContainer div p {
            padding-top: 75px;
            font-size: 1.1rem; }
      .content__ejercicios__arrow .arrowDownUp {
        padding: 20px; }
        .content__ejercicios__arrow .arrowDownUp .arrowDown {
          width: 80px; }
        .content__ejercicios__arrow .arrowDownUp .arrowUp {
          width: 80px;
          display: none; }
    .content__ejercicios__used {
      margin-top: 10px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.214); }
    .content__ejercicios__buttons {
      display: flex;
      justify-content: center; }
      .content__ejercicios__buttons button {
        width: 30%;
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__ejercicios #form {
      margin-top: 10px;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.214); }
      .content__ejercicios #form form input {
        padding: 8px; }
      .content__ejercicios #form form p {
        margin: 5px; }
      .content__ejercicios #form form span {
        margin: 5px; }
    .content__ejercicios__onOff #onOffCaja {
      margin-top: 10px;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.214); }
      .content__ejercicios__onOff #onOffCaja div {
        width: 170px;
        height: 60%;
        background-color: red; }

.redText {
  color: #f61a1a; }

.blueText {
  color: #0985d2; }

.greenText {
  color: #05b305; }

.greyText {
  color: rgba(128, 128, 128, 0.668); }

.redCalloutText {
  color: rgba(246, 26, 26, 0.645); }

.blueCalloutText {
  color: rgba(6, 112, 179, 0.67); }

.greenCalloutText {
  color: rgba(4, 132, 4, 0.503); }

.lightGreenCalloutText {
  color: rgba(18, 231, 43, 0.986); }

.displayNone {
  display: none; }

.pl30 {
  padding-left: 30px; }

.pl60 {
  padding-left: 60px; }

.selected-button {
  border: green solid 3px;
  background-color: greenyellow; }

.unselected-button {
  border: red solid 3px;
  background-color: #f17777; }

.jc-bs3-container {
  width: 80%; }

.jconfirm-holder {
  display: flex;
  justify-content: center; }

.callout {
  background-color: rgba(128, 128, 128, 0.214);
  display: flex;
  padding: 20px;
  margin: 15px 0 15px 0; }
  .callout__icon {
    width: 20px; }
  .callout__text {
    padding-left: 10px; }

.list h4 {
  font-size: 1.3rem;
  padding-top: 25px; }

.list ul {
  padding: 10px 0 10px 20px; }
  .list ul li {
    padding-top: 5px; }

.example {
  padding: 30px; }
  .example h4 {
    padding: 5px; }
  .example__content {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.214); }

.fa-fire-flame-curved {
  color: orange;
  text-shadow: 1px 0px 1px black;
  font-size: 1.2rem; }
