@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth; }

.allContent {
  display: none; }

body {
  overflow: hidden; }

.overflowClass {
  overflow: auto; }

#gradient-background {
  width: 100%;
  height: 300px;
  position: fixed;
  top: -50px; }

#gradient-background.sticky-gradient {
  height: 100px; }

.header {
  width: 100%;
  height: 210px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 10; }
  .header h1 {
    color: white;
    font-size: 5rem; }
  .header__nav ul {
    display: flex;
    margin-top: 70px; }
  .header__link {
    list-style: none;
    padding: 0 25px 12px 25px;
    font-size: 1.1rem; }
  .header a {
    color: white;
    text-decoration: none;
    transition: 0.4s all; }
  .header a:hover {
    color: black; }
  .header i {
    cursor: pointer;
    font-size: 1.5rem; }
  .header #darkButton {
    color: white;
    transition: 0.4s all; }
    .header #darkButton:hover {
      color: black; }
  .header #lightButton {
    display: none;
    transition: 0.4s all; }
    .header #lightButton:hover {
      color: white !important; }
  .header__buttons {
    position: absolute;
    right: 0;
    display: flex; }
    .header__buttons i {
      margin-right: 12px; }
    .header__buttons .media-settings {
      display: flex;
      flex-direction: column; }
    .header__buttons .fa-linkedin, .header__buttons .fa-github {
      color: white;
      transition: .4s all; }
    .header__buttons .fa-linkedin:hover {
      color: black; }
    .header__buttons .fa-github:hover {
      color: black; }
  .header__mode {
    position: absolute;
    left: 0;
    display: flex; }
    .header__mode i {
      margin-left: 12px; }

.header.sticky-header {
  height: 9px; }
  .header.sticky-header h1 {
    font-size: 0; }

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 250px; }
  .content h2 {
    font-size: 2rem;
    margin-top: 40px; }
  .content h3 {
    font-size: 1.2rem;
    padding: 25px 0 10px 0; }
  .content hr {
    height: 3px;
    background-color: black; }
  .content__introduction {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__introduction__text {
      font-size: 1.1rem; }
  .content__install {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__install p {
      margin-top: 10px; }
  .content__basics {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .content__selectors {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .content__methods {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__methods .dimensions__desc {
      margin-bottom: 10px; }
    .content__methods .dimensions__example {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      padding: 20px; }
      .content__methods .dimensions__example button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__methods .dimensions__box {
      width: 170px;
      border: 4px solid black;
      margin: 5px;
      padding: 8px;
      height: 80px;
      background-color: red; }
  .content__events {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__events__display, .content__events__display2 {
      padding: 10px; }
      .content__events__display p, .content__events__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__events__box {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      padding: 20px;
      flex-direction: column; }
      .content__events__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__box2 {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      padding: 20px;
      flex-direction: column; }
      .content__events__box2 input {
        padding: 10px;
        width: 70%;
        margin: 10px; }
      .content__events__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__events__buttons {
      padding: 20px;
      display: flex;
      justify-content: center; }
      .content__events__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__effects {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__effects a {
      color: black; }
    .content__effects__display, .content__effects__display2 {
      padding: 10px; }
      .content__effects__display p, .content__effects__display2 p {
        text-align: center;
        padding-top: 15px;
        color: grey; }
    .content__effects__box {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      padding: 20px;
      flex-direction: column; }
      .content__effects__box div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__box2 {
      height: 300px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-color: rgba(128, 128, 128, 0.214); }
      .content__effects__box2 div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__effects__buttons {
      padding: 20px;
      display: flex;
      justify-content: center; }
      .content__effects__buttons button {
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
  .content__ajax {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__ajax img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .content__ajax h3 {
      font-size: 1.4rem; }
    .content__ajax__desc {
      margin-top: 20px; }
  .content__ejercicios {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content__ejercicios__arrow {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .content__ejercicios__arrow .arrowContainer {
        width: 90%;
        font-size: 20px;
        height: 150px;
        text-align: center; }
        .content__ejercicios__arrow .arrowContainer div {
          display: none;
          background-color: rgba(128, 128, 128, 0.214);
          height: 100%; }
          .content__ejercicios__arrow .arrowContainer div p {
            padding-top: 75px;
            font-size: 1.1rem; }
      .content__ejercicios__arrow .arrowDownUp {
        padding: 20px; }
        .content__ejercicios__arrow .arrowDownUp .arrowDown {
          width: 80px; }
        .content__ejercicios__arrow .arrowDownUp .arrowUp {
          width: 80px;
          display: none; }
    .content__ejercicios__used {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      padding: 20px;
      text-align: center; }
    .content__ejercicios__buttons {
      display: flex;
      justify-content: center; }
      .content__ejercicios__buttons button {
        width: 30%;
        background-color: rgba(115, 115, 115, 0.047);
        color: black;
        padding: 8px;
        margin: 5px;
        cursor: pointer; }
    .content__ejercicios #form {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 300px; }
      .content__ejercicios #form form input {
        padding: 8px; }
      .content__ejercicios #form form p {
        margin: 5px; }
      .content__ejercicios #form form span {
        margin: 5px; }
    .content__ejercicios__onOff #onOffCaja {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 300px; }
      .content__ejercicios__onOff #onOffCaja div {
        width: 170px;
        height: 60%;
        background-color: red; }
    .content__ejercicios__hover-game {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 200px;
      flex-direction: column; }
      .content__ejercicios__hover-game .hover-container {
        display: flex; }
        .content__ejercicios__hover-game .hover-container .hover-div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: black;
          margin: 10px; }
      .content__ejercicios__hover-game .hover-results {
        padding-top: 30px; }
    .content__ejercicios__images {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      height: 400px;
      flex-direction: column; }
      .content__ejercicios__images .main-images img {
        width: 350px;
        height: 95%;
        object-fit: cover; }
      .content__ejercicios__images .other-images img {
        margin-top: 15px;
        width: 80px;
        height: 80%;
        display: inline-block; }
  .content__plugins {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px; }
    .content__plugins__desc {
      margin-top: 20px; }
    .content__plugins .swiper {
      width: 100%;
      height: 500px; }
    .content__plugins .swiper-button-next, .content__plugins .swiper-button-prev {
      color: white; }
    .content__plugins .swiper-scrollbar-drag {
      background-color: white; }
    .content__plugins .swiper-scrollbar {
      background-color: rgba(255, 255, 255, 0.668); }
    .content__plugins .dateRange-container {
      width: 100%;
      height: 200px;
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .content__plugins .dateRange-container .dateRange {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center; }
      .content__plugins .dateRange-container input {
        padding: 10px;
        width: 60%; }
    .content__plugins .fancybox-container {
      background-color: rgba(128, 128, 128, 0.214);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 250px; }
      .content__plugins .fancybox-container a {
        text-align: center; }
      .content__plugins .fancybox-container img {
        width: 45%; }
  .content__finalmessage {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px; }
    .content__finalmessage img {
      width: 100%; }
    .content__finalmessage p:nth-child(1) {
      padding-top: 20px; }
    .content__finalmessage__github .fa-github {
      font-size: 2rem;
      padding: 15px;
      color: black;
      transition: 0.5s all; }
    .content__finalmessage__github .fa-github:hover {
      transform: scale(1.3); }

.content.content-padding {
  padding-top: 150px; }

.footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, #fb1212, #ff005b, #ee009c, #b22ed5, #125df9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center; }
  .footer h3 {
    font-size: 3rem; }
  .footer ul {
    display: flex; }
    .footer ul li {
      list-style: none;
      padding: 10px; }
  .footer a {
    color: white;
    transition: 0.4s all; }
  .footer a:hover {
    color: black; }
  .footer__media span {
    font-size: 1.6rem;
    margin: 3px; }
  .footer__copy {
    color: rgba(255, 255, 255, 0.778); }

.redText {
  color: #f61a1a; }

.blueText {
  color: #0985d2; }

.greenText {
  color: #05b305; }

.yellowText {
  color: #f0a503; }

.greyText {
  color: rgba(128, 128, 128, 0.668); }

.redCalloutText {
  color: rgba(246, 26, 26, 0.645); }

.blueCalloutText {
  color: rgba(6, 112, 179, 0.67); }

.greenCalloutText {
  color: rgba(4, 132, 4, 0.503); }

.lightGreenCalloutText {
  color: rgba(18, 231, 43, 0.986); }

.displayNone {
  display: none; }

.pl30 {
  padding-left: 30px; }

.pl60 {
  padding-left: 60px; }

.selected-button {
  border: green solid 3px !important;
  background-color: greenyellow; }

.unselected-button {
  border: red solid 3px !important;
  background-color: #f17777; }

.selected-img {
  border: 3px solid red; }

.codeBlack {
  color: black !important; }

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  position: relative; }
  #preloader h2 {
    font-size: 4rem; }
  #preloader img {
    width: 300px; }

.jc-bs3-container {
  width: 80%; }

.jconfirm-holder {
  display: flex;
  justify-content: center; }

.callout {
  background-color: rgba(128, 128, 128, 0.214);
  display: flex;
  padding: 20px;
  margin: 15px 0 15px 0; }
  .callout__icon {
    width: 20px; }
  .callout__text {
    padding-left: 10px; }

.list h4 {
  font-size: 1.3rem;
  padding-top: 25px; }

.list ul {
  padding: 10px 0 10px 20px; }
  .list ul li {
    padding-top: 5px; }

.example {
  padding: 30px; }
  .example h4 {
    padding: 5px; }
  .example__content {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.214); }

.fa-fire-flame-curved {
  color: orange;
  text-shadow: 1px 0px 1px black;
  font-size: 1.2rem; }
