@mixin content-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

@mixin grey-box {
    background-color: rgba(128, 128, 128, 0.214);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;

    h2 {
        font-size: 2rem;
        margin-top: 40px;
    }

    h3 {
        font-size: 1.2rem;
        padding: 25px 0 10px 0;
    }

    hr {
        height: 3px;
        background-color: black;
    }

    &__introduction {
        @include content-container;


        &__text {
            font-size: 1.1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__install {
        @include content-container;

        p {
            margin-top: 10px
        }
    }

    &__basics {
        @include content-container;
    }

    &__selectors {
        @include content-container;
    }

    &__methods {
        @include content-container;

        .dimensions {

            &__desc {
                margin-bottom: 10px;
            }


            &__example {
                @include grey-box;
                flex-direction: column;
                height: 200px;
                padding: 20px;

                button {
                    background-color: rgba(115, 115, 115, 0.047);
                    color: rgb(0, 0, 0);
                    padding: 8px;
                    margin: 5px;
                    cursor: pointer;
                }
            }

            &__box {
                width: 170px;
                border: 4px solid black;
                margin: 5px;
                padding: 8px;
                height: 80px;
                background-color: red;
            }
        }
    }

    &__events {
        @include content-container;

        &__display,
        &__display2 {
            padding: 10px;

            p {
                text-align: center;
                padding-top: 15px;
                color: grey;
            }
        }

        &__box {
            @include grey-box;
            height: 300px;
            padding: 20px;
            flex-direction: column;

            div {
                width: 170px;
                height: 60%;
                background-color: red;
            }
        }

        &__box2 {
            @include grey-box;
            height: 200px;
            padding: 20px;
            flex-direction: column;

            input {
                padding: 10px;
                width: 70%;
                margin: 10px;
            }

            div {
                width: 170px;
                height: 60%;
                background-color: red;
            }
        }

        &__buttons {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            button {
                background-color: rgba(115, 115, 115, 0.047);
                color: rgb(0, 0, 0);
                padding: 8px;
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    &__effects {
        @include content-container;

        a {
            color: black;
        }

        &__display,
        &__display2 {
            padding: 10px;

            p {
                text-align: center;
                padding-top: 15px;
                color: grey;
            }
        }

        &__box {
            @include grey-box;
            height: 300px;
            padding: 20px;
            flex-direction: column;

            div {
                width: 170px;
                height: 60%;
                background-color: red;
            }
        }

        &__box2 {
            height: 300px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            background-color: rgba(128, 128, 128, 0.214);

            div {
                width: 170px;
                height: 60%;
                background-color: red;
            }
        }

        &__buttons {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            button {
                background-color: rgba(115, 115, 115, 0.047);
                color: rgb(0, 0, 0);
                padding: 8px;
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    &__ajax {
        @include content-container;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 1.4rem;
        }

        &__desc {
            margin-top: 20px;
        }
    }

    &__exercises {
        @include content-container;

        &__arrow {
            display: flex;
            align-items: center;
            flex-direction: column;

            .arrowContainer {
                width: 90%;
                font-size: 20px;
                height: 150px;
                text-align: center;

                div {
                    display: none;
                    background-color: rgba(128, 128, 128, 0.214);
                    height: 100%;

                    p {
                        padding-top: 75px;
                        font-size: 1.1rem;
                    }
                }
            }

            .arrowDownUp {
                padding: 20px;

                .arrowDown {
                    width: 80px;
                }

                .arrowUp {
                    width: 80px;
                    display: none;
                }
            }
        }

        &__used {
            @include grey-box;
            margin-top: 10px;
            padding: 20px;
            text-align: center;
        }

        &__buttons {
            display: flex;
            justify-content: center;

            button {
                width: 30%;
                background-color: rgba(115, 115, 115, 0.047);
                color: rgb(0, 0, 0);
                padding: 8px;
                margin: 5px;
                cursor: pointer;
            }
        }

        #form {
            @include grey-box;
            margin-top: 10px;
            width: 100%;
            height: 300px;

            form {
                input {
                    padding: 8px;
                }

                p {
                    margin: 5px;
                }

                span {
                    margin: 5px;
                }
            }
        }

        &__onOff {
            #onOffCaja {
                @include grey-box;
                margin-top: 10px;
                width: 100%;
                height: 300px;

                div {
                    width: 170px;
                    height: 60%;
                    background-color: red;
                }
            }
        }

        &__hover-game {
            @include grey-box;
            margin-top: 10px;
            width: 100%;
            height: 200px;
            flex-direction: column;

            .hover-container {
                display: flex;

                .hover-div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: black;
                    margin: 10px;
                }
            }

            .hover-results {
                padding-top: 30px;
            }

        }

        &__images {
            @include grey-box;
            margin-top: 10px;
            width: 100%;
            height: 400px;
            flex-direction: column;

            .main-images img {
                width: 350px;
                height: 95%;
                object-fit: cover;
            }
            
            .other-images img {
                margin-top: 15px;
                width: 80px;
                height: 80%;
                display: inline-block;
            }
        }       
    }

    &__plugins {
        @include content-container;
        margin-top: 30px;

        &__desc {
            margin-top: 20px;
        }

        .swiper {
            width: 100%;
            height: 500px;
            position: relative;
            z-index: 2;
          }

        .swiper-button-next, .swiper-button-prev {
            color: white;
        }

        .swiper-scrollbar-drag {
            background-color: white;
        }

        .swiper-scrollbar {
            background-color: rgba(255, 255, 255, 0.668);
        }

        .dateRange-container {
            width: 100%;
            height: 200px;
            background-color: rgba(128, 128, 128, 0.214);
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            .dateRange {
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
            }

            input {
                padding: 10px;
                width: 60%;
            }
        }

        .fancybox-container {
            @include grey-box;
            width: 100%;
            height: 250px;

            a {
                text-align: center;
            }

            img {
                width: 45%;
            }
        }

    }

    &__finalmessage {
        @include content-container;
        text-align: center;
        margin-top: 30px;

        img {
            width: 100%;
        }

        p:nth-child(1) {
            padding-top: 20px;
        }

        &__github {

            .fa-github {
                font-size: 2rem;
                padding: 15px;
                color: black;
                transition: 0.5s all;
            }

            .fa-github:hover {
                transform: scale(1.3);
            }
        }
    }

}

.content.content-padding {
    padding-top: 150px;
}