.callout {
    background-color: rgba(128, 128, 128, 0.214);
    display: flex;
    padding: 20px;
    margin: 15px 0 15px 0;

    &__icon {
        width: 20px;
    }

    &__text {
        padding-left: 10px;
    }
}

.list {
    
    h4 {
        font-size: 1.3rem;
        padding-top: 25px;
    }  

    ul {
        padding: 10px 0 10px 20px;
        
        li {
            padding-top: 5px;
        }
    }
}

.example {
    padding: 30px;

    h4 {
        padding: 5px;
    }

    &__content {
        padding: 30px;
        background-color: rgba(128, 128, 128, 0.214);
    }
}

.fa-fire-flame-curved {
    color: orange;
    text-shadow: 1px 0px 1px black;
    font-size: 1.2rem;
}

